.note {
    height: 100%;
    width: 100%;
    padding: 0.5em;
    word-wrap: break-word;
    box-sizing: border-box;
    background-color: rgb(42, 165, 104);
    border-radius: 5px;
}

.note:hover {
    box-shadow: 0 0 1em black;
}

p {
    overflow-y:auto;
    height:60%;
}

hr {
    border: none;
    border-top: solid 1px black;
}

h2 {
    margin: 3px;
}

.footer {
    height: 15px;
}