.note {
    background-color: rgb(42, 165, 104);
    height: auto;
    min-height: 100px; 
    /* margin: 20px; */
    /* border-radius:15px; */
    word-wrap: break-word;
    padding:10px;
    width: 300px;
}

.note:hover {
    box-shadow: 0 0 1em black;
}

hr {
    border: none;
    border-top: solid 1px black;
}

h2 {
    margin: 3px;
}

.footer {
    height: 15px;
}