.table {
    max-width: 60rem;
    width: 80%;
    min-height: 500px;
    height: auto;
    background-color:rgba(221, 177, 112, 0.904);
    margin: 2rem auto;
    border-radius: 15px;
    border: 15px solid rgba(43, 23, 1, 0.904);
    overflow:hidden;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.note {
    background-color: brown;
    height: 100px;
    margin: 20px;
}